<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="id.pilihandana.rp.com">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApp"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


            <!-- Branch URI Scheme -->
            <intent-filter>
                <data android:scheme="PilihanDana" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

<!--            &lt;!&ndash; Branch App Links (optional) &ndash;&gt;-->
<!--            <intent-filter android:autoVerify="true">-->
<!--                <action android:name="android.intent.action.VIEW" />-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <category android:name="android.intent.category.BROWSABLE" />-->
<!--                <data android:scheme="https" android:host="up1u1.test-app.link" />-->
<!--                &lt;!&ndash; example-alternate domain is required for App Links when the Journeys/Web SDK and Deepviews are used inside your website.  &ndash;&gt;-->
<!--                <data android:scheme="https" android:host="up1u1-alternate.test-app.linkk" />-->
<!--            </intent-filter>-->

        </activity>
        <activity
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:name=".activity.MainActivity"/>
        <activity
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:name=".activity.MainTwoActivity"/>

        <activity
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:name=".activity.SettingActivity"/>
        <activity
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:name=".activity.WebActivity"/>
        <activity
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:name=".activity.LoginActivity"/>
        <activity
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:name=".activity.AppActivity"/>
        <receiver android:name=".utils.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />


        <!-- Branch init -->
        <meta-data android:name="io.branch.sdk.BranchKey" android:value="key_live_ggP7hevfkhOoy10rYixYghnmFsgvSKdx" />
<!--        <meta-data android:name="io.branch.sdk.BranchKey.test" android:value="key_test_aeR5npoHwJsFScjiujjikhbaqCaJnyVA" />-->

        <meta-data android:name="io.branch.sdk.TestMode" android:value="false" />     <!-- Set to true to use Branch_Test_Key (useful when simulating installs and/or switching between debug and production flavors) -->

    </application>

</manifest>